@import url("HelpDesk.css");
@import url("Users.css");
@import url("News.css");
@import url("Blocks.css");
@import url("Donations.css");
@import url("CreditShop.css");
@import url("WebShop.css");
@import url("MailList.css");
@import url("Items.css");
@import url("System.css");
@import url("Reseller.css");
@import url("Poll.css");

html, body {
	overflow:hidden !important;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#000000;
	background-color:#FFF;
	margin: 0px;
}

#container {
	margin-top:20px;
}

#icon {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;}
#icon span.ui-icon {margin: 0 4px;}

#checkbox {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	float: left;
}

.topMenu
{
	position: fixed;
	top: 0;
	border: 0;
	border-bottom: 1px solid gray;
	width: 100%;
	z-index: 9999;
	background-color: #eee;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
.topMenu ul
{
	z-index: 9999;
}
.topMenu li
{
	z-index: 9999;
}

#dockArea
{
	width: 99%;
	height:25px;
	z-index: 9999;
}

.ConfigTable
{
	width: 95%;
	margin:auto;
}