.MailListAddMessageTable
{
	width: 99%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	border: 1px #000000 solid;
}

.MailListMessageListTable
{
	width: 99%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	border: 1px #000000 solid;
}